%main.container.general-main-wrap
  %h1.general-title-margin Cart
  - if @order.order_items.any?
    = render 'shared/mobile_order_items'
    = render 'shared/order_items'
    = render 'coupon_section'
  - else
    .jumbotron.text-center.mb-0
      %p= t('no_items')