%tr
  %td
    = link_to order.number, order_path(order.id), class: "general-order-number"
  %td
    %span.in-grey-900.font-16.fw-300= order.decorate.order_date
  %td
    %span.font-16.in-grey-900.fw-300= order.state.titleize
  %td
    %strong.font-16= order.decorate.order_total