%tr
  %td
    %p.font-16 Subtotal:
  %td
    %p.font-16= current_user_order.decorate.order_subtotal
%tr
  %td
    %p.font-16 Delivery:
  %td
    %p.font-16= current_user_order.decorate.delivery_price
%tr
  %td
    %p.font-16 Coupon:
  %td
    %p.font-16= current_user_order.decorate.order_discount
%tr
  %td
    %strong.font-18 Order Total:
  %td
    %strong.font-18= current_user_order.decorate.order_total